
/*Contenido de la seccion*/
#registroVentas__contenido{
    padding: 1%;
}


/*Contenedor general de la tabla*/
#registroVentas__contenedorTabla{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 1%;
    overflow: auto auto;
    color: var(--colorLetra);
}


/*Indice de la tabla*/
#registroVentas__indiceTabla{
    font-size: 19px;
    height: 54px;
}

/*Mensaje en caso de no haber encontrado elementos para mostrar*/
#registroVentas__mensajeSinElementos{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

/*Fila de la tabla*/
.registroVentas__fila{
    display: grid;
    align-items: center;
    grid-template-columns: 205px 200px 150px 200px minmax(200px,10000px) 40px 40px 40px;
    padding: 0.25% 0.5%;
}
.registroVentas__fila:nth-child(odd) { /*Filas impares*/
    background-color: var(--colorBotones);
}
.registroVentas__fila:nth-child(even) { /*Filas pares*/
background-color: var(--colorBarraLateral);
}
.registroVentas__fila__observacion {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*Indice de las paginas de los registros*/
#registroVentas__indice{
    width: 100%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

