<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../css/styles-catalogo.css">
		<meta charset="utf-8">
		<title>Embike</title>
		<meta name="keywords" content="Bicicletas,MontainBike,Ñiños,Ruedas,Cubiertas,Frenos,Disco,Asientos">
		<meta name="description" content="Embike, la esencia ciclista. Encontra bicicletas y accesorios en nuestra tienda virtual, ideales para recorrer las sierras o las rutas de Cordoba">
		<meta name="author" content="Diego Nicolas Iocco">
		<meta name="robots" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.4, user-scalable=no">
		<link rel="icon" href="../img/icons/logo.ico">
		<script src="https://kit.fontawesome.com/d292c2d48e.js" crossorigin="anonymous"></script>
	</head>

<body>
    <header>{{>  header }}</header>

	{{!-- Barra lateral de filtrado de productos (Responsive)--}}
	<div id="ventanaLateral-Filtros" class="phone">
		<div id='ventanaLateral-Filtros__div-volver' class="fa-solid fa-arrow-right"></div>
		<div id='ventanaLateral-Filtros__div-titulo'>Filtros</div>
		<div id="ventanaLateral-Filtros__div-filtros">
			<div class="div-filtros__div-filtro">
				<h3 class="tituloIndice" >Categorias</h3>
				<div class="contenedorCategorias contenedorFiltro"></div>
			</div>
			<div class="div-filtros__div-filtro">
			    <h3 class="tituloIndice" >Rodado</h3>
				<div class="contenedorRodado contenedorFiltro">
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton1">
						16
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton2">
						20
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton3">
						26
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton4">
						28
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton5">
						29
					</button>
				</div>
			</div>
			<div class="div-filtros__div-filtro">
				<h3 class="tituloIndice">Precio</h3>
				<form class="formularioMinMax">
					<input type="text" placeholder="Minimo" class="inputPrecioMin casillaPrecio">
					<input type="text" placeholder="Maximo" class="inputPrecioMax casillaPrecio">
					<button type="submit" class="formularioMinMax__flechaIr"></button>
				</form>
			</div>
		</div>
	</div>

	
	{{!-- Contenedor de productos y filtrado de productos --}}
	<div id="contenedorCatalogo" >
		{{!-- Botones para filtrar y ordenar productos (Responsive)--}}
		<div id="catalogoResponsive__div-contenedorFiltros" class="phone">
			<div id="div-contenedorFiltros__div-filtros">
				<div class="div-contenedorFiltros__div-icono fa-solid fa-filter" id="div-contenedorFiltros__div-iconoFiltrar"></div>
				<div class="div-contenedorFiltros__ul-titulo">Filtros</div>
			</div>
			<div class="div-contenedorFiltros__div-ordenar">
				<div class="div-contenedorFiltros__div-titulo">Ordenar</div>
				<div class="div-contenedorFiltros__div-icono fa-solid fa-arrow-down-wide-short" id="div-contenedorFiltros__div-iconoOrdenar"></div>
				<li class="div-ordenar__li-opciones">
					<ul class="li-opciones__ul-relevante li-opciones__ul">Mas relevantes</ul>
					<ul class="li-opciones__ul-precioMax li-opciones__ul">Mayor precio</ul>
					<ul class="li-opciones__ul-precioMin li-opciones__ul">Menor precio</ul>
				</li>
			</div>
		</div>

		{{!-- Filtro de productos --}}
		<div class="catalogo__indice">
			<div class="catalogo__indice__categorias" >
				<h3 class="tituloIndice" >Categorias</h3>		
				<div class="contenedorCategorias contenedorFiltro"></div>
			</div>	
			<div class="catalogo__indice__rodados">
			    <h3 class="tituloIndice" >Rodado</h3>
				<div class="contenedorRodado contenedorFiltro">
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton1">
						16
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton2">
						20
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton3">
						26
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton4">
						28
					</button>
					<button class="filtroBoton filtroRodadoBoton" id="filtroRodadoBoton5">
						29
					</button>
				</div>
			</div>
			<div>
				<h3 class="tituloIndice">Precio</h3>
				<form class="formularioMinMax">
					<input type="text" placeholder="Minimo" class="inputPrecioMin casillaPrecio">
					<input type="text" placeholder="Maximo" class="inputPrecioMax casillaPrecio">
					<button type="submit" class="formularioMinMax__flechaIr"></button>
				</form>
			</div>

		</div>

		{{!-- Contenedor de productos --}}
		<div id="catalogo">
		</div>

		{{!-- Contenedor de opcion de ordenar productos --}}
		<div class="div-contenedorFiltros__div-ordenar desktop">
			<div class="div-contenedorFiltros__div-titulo">Ordenar</div>
			<div class="div-contenedorFiltros__div-icono fa-solid fa-arrow-down-wide-short" id="div-contenedorFiltros__div-iconoOrdenar"></div>
			<li class="div-ordenar__li-opciones">
				<ul class="li-opciones__ul-relevante li-opciones__ul">Mas relevantes</ul>
				<ul class="li-opciones__ul-precioMax li-opciones__ul">Mayor precio</ul>
				<ul class="li-opciones__ul-precioMin li-opciones__ul">Menor precio</ul>
			</li>
		</div>

	</div>

	<script type="module" src="../js/catalogo.js"></script>
	<script type="module" src="../js/header.js"></script>
	<script type="module" src="../js/helpers/agregarProductosDOM.js"></script>
	
</body>

</html>