<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css">
		<meta charset="utf-8">
		<title>Embike</title>
		<meta name="keywords" content="Bicicletas, MontainBike, Ñiños, Ruedas, Cubiertas, Frenos, Disco, Asientos">
		<meta name="description" content="Embike, la esencia ciclista. Encontra bicicletas y accesorios en nuestra tienda virtual, ideales para recorrer las sierras o las rutas de Cordoba">
		<meta name="author" content="Diego Nicolas Iocco">
		<meta name="robots" content="index">
		<link rel="icon" href="logo.ico">
		<script src="https://kit.fontawesome.com/d292c2d48e.js" crossorigin="anonymous"></script>
	</head>

<body>
    <header>{{>  header }}</header>

	<div class="inicio-grid">
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a" href="/catalogo?categorias=MTB%2C">Bicicletas MTB</a>
		</div>
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a" href="/catalogo?palabraBuscada=Accesorios" >Accesorios</a>
		</div>
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a" href="/catalogo?palabraBuscada=Niños" >Niños</a>
		</div>
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a" href="/catalogo?categorias=BMX%2C">BMX</a>
		</div>
	</div>

</body>

</html>