<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<meta charset="utf-8">
		<title>Embike</title>
		<meta name="keywords" content="Bicicletas,MontainBike,Ñiños,Ruedas,Cubiertas,Frenos,Disco,Acientos">
		<meta name="description" content="Embike, la esencia ciclista. Encontra bicicletas y accesorios en nuestra tienda virtual, ideales para recorrer las sierras o las rutas de Cordoba">
		<meta name="author" content="Diego Nicolas Iocco">
		<meta name="robots" content="index">
		<link rel="icon" href="logo.ico">
		<script src="https://kit.fontawesome.com/d292c2d48e.js" crossorigin="anonymous"></script>
	</head>

<body>
    <header>{{>  header }}</header>

	<div class="inicio-grid">
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a">Bicicletas MTB</a>
		</div>
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a">Accesorios</a>
		</div>
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a">Niños</a>
		</div>
		<div class="inicio-grid__div">
			<a class="inicio-grid__div__a">BMX</a>
		</div>
	</div>

</body>

</html>