<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../css/inicioSesion.css">
		<meta charset="utf-8">
		<title>Embike</title>
		<meta name="keywords" content="Bicicletas,MontainBike,Ñiños,Ruedas,Cubiertas,Frenos,Disco,Acientos">
		<meta name="description" content="Embike, la esencia ciclista. Encontra bicicletas y accesorios en nuestra tienda virtual, ideales para recorrer las sierras o las rutas de Cordoba">
		<meta name="author" content="Diego Nicolas Iocco">
		<meta name="robots" content="index">
		<link rel="icon" href="logo.ico">
		<script src="https://kit.fontawesome.com/d292c2d48e.js" crossorigin="anonymous"></script>
	</head>

<body>
    <div id="inicioSesion">
        <div id="inicioSesion__imagenFondo">
            <a id="volver" href="index"></a>
            <form id="inicioSesion__formulario" class="inicioSesion__formulario-active" autocomplete="off">
                <div id="titulo">Iniciar sesion</div>
                <input required="" type="email"id="inicioSesion__formulario__ingresarCorreo" class="inicioSesion__formulario__botones" placeholder="Correo">
                <div id="errorEmail" class="errorText"></div>
                <input required="" type="Password" id="inicioSesion__formulario__ingresarPassword" class="inicioSesion__formulario__botones" placeholder="Contraseña">
                <div id="errorPassword" class="errorText"></div>
                <button id="inicioSesion__formulario__enviar" class="inicioSesion__formulario__botones" type="submit"> Enviar </button>

                <div id="inicioSesion__formulario__registrarse" class="inicioSesion__formulario__botones"> Registrarse </div>
                <div id="pregunta">¿Olvidaste la contraseña?
                    <a href="recuperarPassword">Recuperar contraseña</a>
                </div>
            </form>
            <form id="registrarse__formulario" autocomplete="off">
                <div id="titulo">Registrarse</div>
                <input required="" id="registrarse__formulario__ingresarNombre" class="registrarse__formulario__botones" placeholder="Nombre">
                <div id="errorNombreRegistro" class="errorText"></div>
                <input required="" type="email" id="registrarse__formulario__ingresarCorreo" class="registrarse__formulario__botones" placeholder="Correo">
                <div id="errorEmailRegistro" class="errorText"></div>
                <input required="" type="Password" id="registrarse__formulario__ingresarPassword" class="registrarse__formulario__botones" placeholder="Contraseña">
                <div id="errorPasswordRegistro" class="errorText"></div>
                <input required="" type="Password" id="registrarse__formulario__repetirPassword" class="registrarse__formulario__botones" placeholder="Repetir contraseña">
                <div id="errorRepetirPasswordRegistro" class="errorText"></div>
                <button id="registrarse__formulario__enviar" class="registrarse__formulario__botones" type="submit"> Enviar </button>

                <div id="pregunta">¿Ya tenes una cuenta?
                    <a id="volverIniciarSesion">Iniciar sesion</a>
                </div>
            </form>
        </div>
    </div>

    <script src="../js/iniciarSesion.js"></script>
</body>

</html>