<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../css/normalize.css">
		<link rel="stylesheet" type="text/css" href="../css/listaDeseados.css">
		<meta charset="utf-8">
		<title>Embike</title>
		<meta name="keywords" content="Bicicletas, MontainBike, Ñiños, Ruedas, Cubiertas, Frenos, Disco, Asientos">
		<meta name="description" content="Embike, la esencia ciclista. Encontra bicicletas y accesorios en nuestra tienda virtual, ideales para recorrer las sierras o las rutas de Cordoba">
		<meta name="author" content="Diego Nicolas Iocco">
		<meta name="robots" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=0.4, user-scalable=no">
		<link rel="icon" href="../img/icons/logo.ico">
		<script src="https://kit.fontawesome.com/d292c2d48e.js" crossorigin="anonymous"></script>
	</head>

<body>
    <header>{{>  header }}</header>

	<div id="contenedorGeneral">
        <div id="titulo">Lista de productos deseados</div>
		<div id="cargandoProductos"></div>
        <div id="contenedorProductos"></div>
	</div>


	<script type="module" src="../../js/global.js"></script>
    <script type="module" src="../js/listaDeseados.js"></script>
    <script type="module" src="../js/helpers/agregarProductosDOM.js"></script>

</body>

</html>