<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registener</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/registener.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/mensajeEmergente/mensajeEmergente.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/mensajeEmergente/modificarProducto.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/mensajeEmergente/varianteProducto.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/ventanaProductos.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/normalize.css'>
    <script src="https://kit.fontawesome.com/d292c2d48e.js" crossorigin="anonymous"></script>
</head>
<body>

    {{>  mensajeEmergente }}

    {{!-- Fondo oscuro de la ventana emergente --}}
    <div id="ventanaEmergenteFondo" class="noActivo">

        {{!-- Ventana emergente que avisa o le hace una pregunta al usuario --}}
        <div id="ventanaEmergente" class="noActivo">
            <div id="ventanaEmergente__contenido">
                
                <div id="ventanaEmergente__contenido__mensaje"></div>
                <div id="ventanaEmergente__contenido__aceptar">
                    <button id="ventanaEmergente__contenido__aceptar__boton">Aceptar</button>
                </div>
                <div id="ventanaEmergente__contenido__rechazar">
                    <button id="ventanaEmergente__contenido__rechazar__boton">Rechazar</button>
                </div>
            </div>
    
    
    
        </div>

        {{!-- Ventana emergente para modificar un producto --}}
        <div id="modificarProducto" class="noActivo">
            <div id="modificarProducto__fotoDescripcion">
                <h4>Foto</h4>
                <img id="modificarProducto__fotoDescripcion__img" class="imagenProducto"></img>
                <h4>Descripcion</h4>
                <textarea id="modificarProducto__fotoDescripcion__textarea"></textarea>
            </div>
            <form id="modificarProducto__caracteristicas">
                <h4>Nombre</h4>
                <input class="modificarProducto__caracteristicas__input"  name="nombre"    id="modificarProducto__caracteristicas__input__nombre">
                <h4>Precio Unitario</h4>
                <input class="modificarProducto__caracteristicas__input"  name="precio"    id="modificarProducto__caracteristicas__input__precio" type="number">
                <h4>Marca</h4>
                <input class="modificarProducto__caracteristicas__input"  name="marca"     id="modificarProducto__caracteristicas__input__marca">
                <h4>Modelo</h4>
                <input class="modificarProducto__caracteristicas__input"  name="modelo"    id="modificarProducto__caracteristicas__input__modelo">
                <h4>Categorias</h4>
                <select class="modificarProducto__caracteristicas__input" name="categoria" id="modificarProducto__caracteristicas__select__categoria">
                    <option>BMX</option>
                    <option>MTB</option>
                    <option>Niños</option>
                    <option>Accesorios</option>
                    <option>Agregar Categoria</option>
                </select>
                <input class="modificarProducto__caracteristicas__input noActivo" name="categoria" placeholder="Ingrese una nueva categoria" id="modificarProducto__caracteristicas__input__categoria">
            </form>
            <button id="modificarProducto__verVariantes" class="botonRegistener1" >Ver variantes</button>
            <div id="modificarProducto__aceptarRechazar">
                <button id="modificarProducto__aceptarRechazar__aceptar"  class="botonRegistener1" >Guardar</button>
                <button id="modificarProducto__aceptarRechazar__rechazar" class="botonRegistener1" >Descargar</button>
            </div>
        </div>

        {{!-- Ventana emergente para modificar las variantes de un producto --}}
        <div id="variantesProducto" class="noActivo">
            {{!-- Indice de categorias --}}
            <div id="variantesProducto__indice">
                <div>SKU</div>
                <div>Color</div>
                <div>Talle</div>
                <div>Stock</div>
                <div>Imagenes</div>
            </div>
            <div>
                <div id="variantesProducto__variantes">
                    <div class="variantesProducto__variantes__div">
                    </div>
                </div>
            </div>
            <div id="variantesProducto__aceptarRechazar">
                <button id="variantesProducto__aceptarRechazar__aceptar"  class="botonRegistener1">Confirmar</button>
                <button id="variantesProducto__aceptarRechazar__rechazar" class="botonRegistener1">Descartar</button>
            </div>
        </div>

    </div>


    <div id="barraLateral">
        <div id="barraLateral__iconos">
            <div id="barraLateral_AA__icono" class="barraLateral__iconos">C</div>
            <div id="barraLateral_A__icono" class="barraLateral__iconos">M</div>
            <div id="barraLateral_B__icono" class="barraLateral__iconos">S</div>
            <div id="barraLateral_C__icono" class="barraLateral__iconos">P</div>
            <div id="barraLateral_D__icono" class="barraLateral__iconos">E</div>
            <div id="barraLateral_E__icono" class="barraLateral__iconos">R</div>
        </div>
        <div id="barraLateral__nombres">
            <div id="barraLateral_AA__nombre" class="barraLateral__botones">Configuracion</div>
            <div id="barraLateral_A__nombre" class="barraLateral__botones">Modificar Productos</div>
            <div id="barraLateral_B__nombre" class="barraLateral__botones">Seleccionar productos</div>
            <div id="barraLateral_C__nombre" class="barraLateral__botones">Pago</div>
            <div id="barraLateral_D__nombre" class="barraLateral__botones">Estadisicas</div>
            <div id="barraLateral_E__nombre" class="barraLateral__botones">Registro de empleados</div>
        </div>
    </div>
    
    <div id="configuracionProductos">
        <div id="contenedorConfiguracionProductos"></div>
    </div>

    {{!-- Contenedor general de categorias, indice y productos --}}
    <div id="contenedorConfiguracionProductos__contenido">

        {{!-- Contenedor de categorias --}}
        <div id="contenedorConfiguracionProductos__contenido__categorias"></div>

        {{!-- Indice de categorias --}}
        <div class="tipo__categoria__producto">
            <div>Nombre</div>
            <div>Precio</div>
            <div>Stock</div>
            <div>Opciones</div>
        </div>
        

        {{!-- Contenedor de productos --}}
        <div id="contenedorConfiguracionProductos__contenido__productos" ></div>

    </div>

    <div id="seleccionProductos">
    </div>

    </div>

    <div id="seccionCobro">
        <div class="seccionCobro__titulo text">Resumen</div>
        <div class="seccionCobro__titulo text">Modo de pago</div>
        <div class="seccionCobro__titulo text">Modificacion</div>
        <div id="seccionCobro__resumen">
            <div id="seccionCobro__resumen__indice-nombre" class="seccionCobro__resumen__indices">Nombre</div>
            <div id="seccionCobro__resumen__indice-cantidad" class="seccionCobro__resumen__indices">Cantidad</div>
            <div id="seccionCobro__resumen__indice-precio" class="seccionCobro__resumen__indices">Precio</div>
        </div>
        <div id="seccionCobro__metodoPago">
            <button class="seccionCobro__metodoPago__metodo">Efectivo</button>
            <button class="seccionCobro__metodoPago__metodo">Cuenta DNI</button>
            <button class="seccionCobro__metodoPago__metodo">Nave</button>
            <button class="seccionCobro__metodoPago__metodo">Postnet</button>
            <button class="seccionCobro__metodoPago__metodo">Transferencia</button>
            <button class="seccionCobro__metodoPago__metodo">Otro</button>
            <button class="seccionCobro__metodoPago__metodo"></button>
            <button class="seccionCobro__metodoPago__metodo">Combinado</button>
        </div>
        <div id="seccionCobro__modificacion">
            <button class="seccionCobro__modificacion__metodo">10% de descuento</button>
            <button class="seccionCobro__modificacion__metodo">15% de descuento</button>
            <button class="seccionCobro__modificacion__metodo">Cambios de stock</button>
            <button class="seccionCobro__modificacion__metodo">Pedido</button>
            <button class="seccionCobro__modificacion__metodo"></button>
            <button class="seccionCobro__modificacion__metodo"></button>
            <button class="seccionCobro__modificacion__metodo"></button>
            <button class="seccionCobro__modificacion__metodo"></button>
        </div>
        <div id="seccionCobro__promociones">
            <div id="seccionCobro__promociones__promocion1" class="seccionCobro__promociones__contenedores">
                <div class="seccionCobro__promociones__contenedores__titulo">Descuento por facha</div>
                <div class="seccionCobro__promociones__contenedores__precio">-$1.500</div>
                <button class="seccionCobro__promociones__contenedores__boton">^</button>
            </div>
            <div id="seccionCobro__promociones__promocion2" class="seccionCobro__promociones__contenedores">
                <div class="seccionCobro__promociones__contenedores__titulo">Descuento por feo</div>
                <div class="seccionCobro__promociones__contenedores__precio">-$2.500</div>
                <button class="seccionCobro__promociones__contenedores__boton">^</button>
            </div>
            <div id="seccionCobro__promociones__promocion3" class="seccionCobro__promociones__contenedores">
                <div class="seccionCobro__promociones__contenedores__titulo">Descuento por jubilado</div>
                <div class="seccionCobro__promociones__contenedores__precio">-$3.500</div>
                <button class="seccionCobro__promociones__contenedores__boton">^</button>
            </div>
            <div id="seccionCobro__promociones__promocion4" class="seccionCobro__promociones__contenedores">
                <div class="seccionCobro__promociones__contenedores__titulo">Descuento por hincha de boca</div>
                <div class="seccionCobro__promociones__contenedores__precio">-$500</div>
                <button class="seccionCobro__promociones__contenedores__boton">^</button>
            </div>
            <div id="seccionCobro__promociones__promocion5" class="seccionCobro__promociones__contenedores">
                <div class="seccionCobro__promociones__contenedores__titulo">Descuento por algo</div>
                <div class="seccionCobro__promociones__contenedores__precio">-$1.500</div>
                <button class="seccionCobro__promociones__contenedores__boton">^</button>
            </div>
        </div>
        <div id="seccionCobro__pago">
            <div id="seccionCobro__pago__pago1">
                <div class="seccionCobro__pago__titulo">Pago 1</div>
                <input class="seccionCobro__pago__valor" type="number" placeholder="Ingrese el monto">
            </div>
            <div id="seccionCobro__pago__pago2">
                <div class="seccionCobro__pago__titulo">Pago 2</div>
                <input class="seccionCobro__pago__valor" type="number" placeholder="Ingrese el monto">
            </div>
            <div id="seccionCobro__pago__vuelto">
                <div class="seccionCobro__pago__titulo">Vuelto</div>
                <div class="seccionCobro__pago__valor" id="seccionCobro__pago__vuelto__valor">$ 1.250</div>
            </div>
            <div id="seccionCobro__pago__total">
                <div class="seccionCobro__pago__titulo">Total</div>
                <div class="seccionCobro__pago__valor" id="seccionCobro__pago__total__valor">$ 10.000</div>
            </div>

        </div>
        <div id="seccionCobro__confirmar">
            <textarea id="seccionCobro__confirmar__observacion" placeholder="Ingrese una observacion"></textarea>
            <button id="seccionCobro__confirmar__boton">Confirmar</button>
        </div>
    </div>







    <script type="module" src="../../js/global.js"></script>
    <script type='module' src="../js/registener.js"></script>
    <script type='module' src="../js/helpers/productos.js"></script>
    <script type='module' src="../js/helpers/mostrarMensaje.js"></script>

</body>
</html>