:root {
--fondo: white;
--crema-logo: #DFC5B4; 
--azul-logo: #033452;
}/*Variables*/


.phone{
	display: none;
}
.noActive{
	display: none !important;
}


/*Contenedor de la barra principal*/
.header{
	display: flex;
    justify-content: center;
	
	background-color: var(--fondo);

	align-items: center;
	justify-items: center;

	position: relative;
	z-index: 1000;	
}


/*Imagen*/
.header__a-logo__img{
    border-radius: 30px;
    height: 90px;
}
.header__a-logo{
	margin: 10px;
}


/* Barra de busqueda */
#header__form-barraBusqueda, #header-responsive__form-barraBusqueda{
	justify-items: center;
    align-items: center;
	margin: 0px 10px;
	z-index: 1000;
}
#header__form-barraBusqueda__input{
	padding: 10px;
	border: 0px;
    border-bottom: 2px;
    border-style: solid;
	border-radius: 0px;
	border-color: var(--azul-logo);
	outline: 2px;
	width: 400px;
	height: 45px;
}
/* Cambia el input cuando tiene un contenido que forma parte del filtro de busqueda actual */
.header__form-barraBusqueda__input-active{
	background-color: var(--azul-logo) !important;
	color:white !important;
	border: solid 1px !important;
	border-radius: 10px !important;
}

/*Estilos de los botones*/
.header__botones{
	display: flex;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	color: var(--azul-logo);
    background: white;
    justify-items: center;
    align-items: center;
	border-radius:0px;
	border: 0px;
	border-bottom: 2px;
	border-color: var(--azul-logo);
	border-style: solid;
	margin: 0px 10px;
	transition: 0.1s ease-out;
} 
/*///////////////////////////*/

/* Seleccion */
.header__botones:hover{
	background: var(--azul-logo) ;
	transform: scale(1.1);
	border: 0px;
	border-radius:10px;
	color: white;
}
#botonUsuario:hover{
	border-radius: 0px;
}



/* Barra deslisadorado de cuenta */
#botonUsuario__li{
	display: none;
	flex-direction: column;
	justify-items: center;

	position: absolute;
	width: 150px;
	height: min-content;
	background-color: var(--azul-logo);
    transform: translate(-60px, 100px);
	color: white;
	margin:50px
}
#botonUsuario:hover>#botonUsuario__li,#botonUsuario__li:hover{
	display: flex;
}

.botonUsuario__li__ul{
	display: flex;
	flex-direction: row;
	margin: 10px;
	justify-content: space-between;
}

.botonUsuario__li__a{
	color: white;
}

/*Contenedor de los botones*/
.botonUsuario__li__i{
	width: 20px;
	height: 20px;
	font-size: 20px;
}
/*///////////////////////////*/





/*Version de telefono*/
@media screen and (max-width:1200px){

.phone{
	display: block;
}
.desktop{
	display: none !important;
}


.header{
	display: none;
}




/* Barra principal */
.header-responsive{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	justify-items: center;
	font-size: 50px;
	background-color: var(--fondo);
	width: 100vw;
	padding-top: 10px;
}



/*Barra de busqueda*/
#header-responsive__form-barraBusqueda {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	margin-top: 10px;
}

/*Input de barra de busqueda*/
#header-responsive__form-barraBusqueda__input{
	width: 100%;
	height: 70px;
	font-size: 35px;
	padding: 10px;
	margin: 20px;
	border: 0px;
	border-bottom: 2px;
	border-style: solid;
	border-color: var(--azul-logo);
}

#header-responsive__form-barraBusqueda__input:focus{
	border: 0px;
	outline-color: var(--azul-logo);
}


/*Lupa de la barra busqueda*/
#header-responsive__form-barraBusqueda__button{
	width: 85px;
	height: 70px;
	background-image: url(../img/icons/lupa-icono.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 75%;
	border: 0px;
	border-bottom: 2px;
	border-style: solid;
	border-color: var(--azul-logo);
}





/*Logo*/
#header-responsive__a-logo{
	background-image: url(../img/icons/logo.ico);
}

/*Imagenes de los botones*/
#header-responsive__a-iniciarSesion, #header-responsive__div-cuenta{
	background-image: url(../img/icons/logo-sesion.png);
	background-size: 75%;
}
#header-responsive__div-menu{
	background-image: url(../img/icons/menu-icono.png);
	background-size: 90%;
}

/*Estilos de los botones*/
.header-responsive__botones{
    display: flex;
	overflow: hidden;
	height: 80px;
    margin-top: 10px;
    text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	border: 0px;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	border-color: var(--azul-logo);
}

/*Desilazador del boton de cuenta y el de menu*/
#div-cuenta__div-ventana,#div-menu__ul-opciones{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	position: fixed;
	background-color: white;
	min-width: 100vw;
	min-height: 100vh;
	transition: transform 0.25s;
	transform: translateX(100vw);
	z-index: 1500;
}
#div-menu__ul-opciones{
	transform: translateX(-120vw);
}

/*Los deslizadores se activan cuando se hacen click en sus respectivos botones*/
.div-cuenta__div-ventana-active{
	transform: translate(-89vw, -2vw) !important;
}
.div-menu__ul-opciones-active{
	transform: translateX(0) !important;
}

/*Boton volver*/
#div-ventana__div-volver,#div-menu__div-volver{
	width: 90px;
	height: 90px;
	position: absolute;
	align-self: start;
	justify-self: start;
	margin: 10px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	border-color: var(--azul-logo);
	background-image: url(../img/icons/volver.png);
	background-size: 60%;
}

/*Titulo de la seccion*/
#div-menu__div-titulo,#div-ventana__div-titulo{
	margin-top: 40px;
}
#div-menu__div-titulo{
	margin-bottom: 40px;
}

/*Secciones del deslizador*/
#div-ventana__div-informacion,#div-ventana__ul-opciones{
	display: flex;
	flex-direction: column;
	position: relative;
	margin-top: 15px;
}

/*Opciones de la seccion de informacion de usuario*/
#div-informacion__div-nombreFoto{
	display: grid;
	grid-template-columns:  34vw 66vw;
	grid-template-rows: 10vh 10vh;
	align-items: center;
}
/*Estilos de la foto (o iniciales) del usuario*/
#div-nombre__div-foto{
	display: flex;
	justify-content: center;
	grid-row: 1 / 3;
	width: 250px;
	height: 250px;
	padding: 60px;
	font-size: 110px;
	border: solid 1px black;
	border-radius: 142px;
	margin: 25px;
	margin-left: 60px;
	background: lightgray;
}
/*Nombre de usuario*/
#div-nombre__div-nombre{
	font-size: 70px;
	justify-self: start;
    align-self: end;
}
/*Correo del usuario*/
#div-informacion__div-correo{
	justify-self: start;
    align-self: start;
	font-size: 40px;
}
/*ID del usuario*/
#div-informacion__div-ID{
	font-size: 30px;
	color: lightslategray;
	align-self: end;
}


/*Opciones de la seccion de opciones*/
.ul-opciones__botones,.div-menu__ul-opciones__li{
	border: solid gray 1px;
	border-right: 0px;
	border-left: 0px;
	padding: 25px;
	font-size: 70px;
    padding: 50px;
	transition: background 0.5s ease;
	color: black;
}
.ul-opciones__botones:active,.div-menu__ul-opciones__li:active{
	background-color: lightgray;
}
}






