:root {
    --fondo: white;
    --crema-logo: #DFC5B4; 
    --azul-logo: #033452;
    }/*Variables*/

#inicioSesion{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


#inicioSesion__imagenFondo{
    display: grid;
    grid-template-columns: minmax(0,500px) min-content;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(../img/inicioSesion/cilismo-al-atardecer.jpg);
    background-size: cover;
    border-radius: 25px;
    margin: 100px;
}

#titulo{
    font-size: 40px;
}

#pregunta{
    font-size: 20px;
    margin: 10px;
}


#inicioSesion__formulario,#registrarse__formulario{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 530px;
    width: min-content;
    padding: 30px;
    margin: 80px;
    border-radius: 20px;
}
.inicioSesion__formulario-active{
    display: flex !important;
}

#registrarse__formulario{
    display: none;
}
.registrarse__formulario-active{
    display: flex !important;
}

.inicioSesion__formulario__botones,.registrarse__formulario__botones{
    height: 45px;
    width: 400px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    border-color: black;
    transition: border-color 1s;
    outline: none;
    background-color: rgb(206, 206, 206);
    box-sizing: border-box;
}
.boton__enProceso{
    filter: contrast(0.7);
}

.boton__enError{
    border:2px solid !important;
    border-color: red !important;
}

#inicioSesion__formulario__enviar,#registrarse__formulario__enviar{
    background-color: var(--azul-logo);
    color:white
}

#inicioSesion__formulario__registrarse,#registrarse__formulario__registrarse{
    background-color: var(--crema-logo);
    text-align: center;
}

#otraOpcion{
    font-size: 20px;
    margin: 10px;
}
#volver{
        width: 60px;
        height: 60px;
        align-self: start;
        justify-self: start;
        border-radius: 50px;
        border: 0px;
        margin: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: white;
        border-color: var(--azul-logo);
        background-image: url(../img/icons/volver.png);
        background-size: 60%;
}

.errorText{
    min-height: 15px;
    font-size: 15px;
    color: red;
    align-self: start;
}

#volverIniciarSesion{
    color: #0000EE;   /* Azul predeterminado */
    cursor: pointer;  /* El cursor cambia a una mano cuando se pasa por encima */
}


@media screen and (max-width:1000px){

    #inicioSesion{
        height: 80vh;
    }

    #inicioSesion__imagenFondo{
        display: grid;
        grid-template-columns: min-content ;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        background-image: url(../img/inicioSesion/cilismo-al-atardecer.jpg);
        background-size: cover;
        border-radius: 25px;
        margin: 20px;
        height: 70vh;
        width: 90vw;
        align-content: center;
    }
    #inicioSesion__formulario, #registrarse__formulario{
        display: none;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: white;
        height: min-content;
        width: min-content;
        padding: 50px;
        margin: 20px;
        border-radius: 20px;
    }
    
.inicioSesion__formulario__botones,.registrarse__formulario__botones{
    height: 90px;
    width: 600px;
    margin-top: 0px;
    font-size: 40px;
    padding: 20px;
    border-radius: 20px;
    border:0;
    background-color: rgb(206, 206, 206);
}

#inicioSesion__formulario__enviar{
    margin-bottom: 40px;
}

#inicioSesion__formulario__registrarse{
    background-color: var(--crema-logo);
}

#otraOpcion{
    font-size: 40px;
    margin: 20px;
}
#titulo{
    font-size: 80px;
    margin-bottom: 40px;
}

#pregunta{
    font-size: 40px;
    margin: 20px;
}


#volver{
    width: 120px;
    height: 120px;
    position: absolute;
}
.errorText{
    min-height: 70px;
    font-size: 30px;
}

}