


body{
    margin:0px;
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    overflow-y: hidden; /* Oculta la barra de desplazamiento horizontal */
    background-color: var(--colorFondo);
    color: var(--colorLetra);
}


/*Barra lateral*/
#barraLateral{
    display: grid;
    grid-template-columns: 60px 240px;
    position: fixed;
    z-index: 400;
    pointer-events: none;
}

/*Las dos columnas de la barra lateral, una con los iconos y la otra con la descripcion*/
#barraLateral__nombres, #barraLateral__iconos{
    background-color: var(--colorBarraLateral);
    display: grid;
    grid-template-rows: repeat(6, 60px) 1fr;
    height: 100vh;
    align-items: end;
    justify-items: center;
    z-index: 402;
    width: 5vw;
    pointer-events: all;
}

/*Nombre de cada boton*/
#barraLateral__nombres{
    transform: translate(-240px);
    background-color: initial;
    z-index: 401;
    transition: transform 0.3s;
}
#barraLateral__iconos:hover + #barraLateral__nombres{
    transform: translate(0px);
}




    

/*Modificacion de productos*/
.contenedorConfiguracionProductos__indice{
    display: flex;
    height: min-content;
    width: 1290px;
    margin: calc((100vw - 1290px) / 2);
    margin-top: 0;
    margin-bottom: 0;
    z-index: 100;
    box-sizing: border-box;
    position: relative;
}
.contenedorConfiguracionProductos__indice{
    display:none;
    position: absolute;
    z-index: 80;
}



.contenedorConfiguracionProductos__indice-active{
    display:flex;
}



/*Contenedor general de las ventanas emergentes*/
#ventanaEmergenteFondo{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #00000080;
    width: 100vw;
    height: 100vh;
    z-index: 450;
    justify-content: center;
    align-items: center;
}




















