:root {
--fondo: white;
--boton: rgb(228, 228, 228);
--crema-logo: #DFC5B4; 
--azul-logo: #033452;
}/*Variables*/

/*Desactiva los elementos que son para telefono*/
.phone{
	display: none;
}

#contenedorCatalogo{
	display: flex;
	justify-content: center;
}

/*Contenedor de productos*/
#catalogo {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-content: flex-start;

	width: 900px;
	height: 80vh;
	margin-top: 40px;
}
.catalogo-conMensaje{
	justify-content: center !important;
    align-content: center !important;
}

/*Icono de carga de productos*/
#cargandoProductos{
	height: 100px;
	width: 100px;
	margin-top: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 75%;
	justify-self: center;
	border-radius: 30px;
	background-image: url(../img/icons/icono-carga.png);
	animation: girar 2s linear 0s infinite normal;
}
@keyframes girar {
	0%{
		transform: rotate(0);
	}
	50%{
		transform: rotate(180deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

/*Cartel de advertencia cuando no hay productos para mostrar*/
#mensajeSinProductos{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 200px;
	font-size: 20px;
}
#mensajeSinProductos__logo{
	height: 100px;
	width: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--fondo);
	background-size: 75%;
	border-radius: 30px;
	background-image: url(../img/icons/icono-advertencia.webp);
}
#mensajeSinProductos__mensaje{
	width: 200px;
	text-align: center;
}


.catalogo__indice{
	display: flex;
    width: 270px;
    height: 100vh;
    border-right: 1px solid lightgray;
    flex-direction: column;
    margin-top: 40px;
    padding-right: 40px;
}


/*Productos*/
.catalogo__div{
	display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    max-width: 450px;
    height: 400px;
    margin-top: 5px;
    filter: opacity(0);
    transition: border 0.25s, box-shadow 0.25s, filter 0.5s;
    animation: catalogo__div-aparecer 1s forwards 0.5s;
    justify-content: space-evenly;
}

.catalogo__div:hover{
	border-color: var(--azul-logo);
	border: 2px transparent;
	box-shadow: 0px 0px 10px 0px #033452;
}

/*Animacion cuando aparece un producto*/
@keyframes catalogo__div-aparecer{
	from{
		filter: opacity(0);
	}to{
		filter: opacity(1);
	}
}


/*Imagen del producto*/
.catalogo__div__imagen {
	display: flex;
	align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: nowrap;

	width: 290px;
    height: 290px;
    margin: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
/*Imagen de un producto no disponible*/
.catalogo__div__imagen-noDisponible{
	filter: brightness(0.5);
}
/*Colores disponible del producto*/
.catalogo__div__color{
	margin-left: 10px;
    border: 1px gray solid;
    border-radius: 6px;
    width: 30px;
    height: 30px;
}

/*Nombre del producto*/
.catalogo__div__nombre{
	font-size: 20px;
}
/*Precio del producto*/
.catalogo__div__precio{
	font-size: 30px;
}
/*Contenedor de descuentos*/
.catalogo__div__descuento{
	display: flex;
    align-items: center;
}
/*Precio anterior del producto*/
.descuento__precioViejo{
	color: darkgray;
	text-decoration: line-through;
}
/*Porcentaje de descuento*/
.descuento__porcentaje{
	color: green;
    font-size: 14px;
    padding-left: 8px;
}


/*Filtrado de producto*/
/*Botones de filtros*/
.div-contenedorFiltros__div-ordenar{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: min-content;
	margin: 10px;
	height: 100px;
	position: absolute;
    transform: translate(550px, -40px);
	font-size: 20px;
}


/*Iconos de botones de filtros*/
.div-contenedorFiltros__div-icono{
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 30px;
	background-size: 100%;
    height: 60px;
    width: 60px;
}

#div-contenedorFiltros__div-iconoFiltrar{
	background-image: url(../img/icons/icono-filtrar.png);
}
#div-contenedorFiltros__div-iconoOrdenar{
	background-image: url(../img/icons/icono-ordenar.png);
}

/*Contenedor de filtros de ordenar*/
.div-contenedorFiltros__div-ordenar{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: min-content;
	margin: 10px;
	height: 100px;
}

/* Barra deslisadorado de filtro ordenar */
.div-ordenar__li-opciones{
	display: none;
	z-index: 60;
	flex-direction: column;
	justify-items: center;
	position: absolute;
	width: max-content;
	height: min-content;

	background-color: var(--azul-logo);
	color: var(--fondo);
}
/*Cuando se apreta en el boton de filtros activa la barra deslizadora*/
.div-contenedorFiltros__div-ordenar:hover>.div-ordenar__li-opciones{
	display: flex;
	transform: translate(-40px, 120px);
}

/*Letra de la barra deslizadora del filtro ordenar*/
.li-opciones__ul{
	margin: 20px;
	color: var(--fondo);
}

/*Barra lateral de filtros*/
/*Titulo de los filtros*/
.tituloIndice{
	margin: 15px 0 15px 0;
}

/*Contenedor de botones de categorias*/
.contenedorFiltro{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
}

/*Botones de filtros*/
.filtroBoton{
	display: block;
	margin:5px;
	padding:5px;
	border-radius: 10px;
	transition: box-shadow 0.2s, background-color 0.2s, color 0.2s;
}
.filtroBoton:hover{
	background-color: #033452;
	box-shadow: 0px 0px 10px 0px #033452;
	color: var(--fondo);
}
.botonActive{
	background-color: #033452 !important;
	color: var(--fondo) !important;
}


/*Contenedor de los input de precio maximo y minimo*/
.formularioMinMax{
	display: flex;
    align-items: center;
}
/*Inputs de precio maximo y precio minimo*/
.casillaPrecio{
	padding: 3px;
	padding-left: 8px;
	width: 90px;
	border-radius: 11px;
	margin-right: 10px;
}
/*Inputs de precio maximo y precio minimo cuando tienen un valor de busqueda activo*/
.casillaPrecio-active{
	background-color: var(--azul-logo);
	color: var(--fondo);
}
.casillaPrecio:hover{
	box-shadow: 0px 0px 10px 0px #033452;
	outline: 0px;
	border: 2px #033452 solid;
}
.casillaPrecio:focus{
	outline: 0px;
	border: 3px #033452 solid;
}

/*Boton de enviar del formulario de precios maximo y minimo*/
.formularioMinMax__flechaIr{
	height: 30px;
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--fondo);
	background-size: 75%;
	border-radius: 30px;
}

.formularioMinMax__flechaIr{
	background-image: url(../img/catalogoImagenes/flechaDerecha.webp);
}




@media screen and (max-width:1200px){
	/*Activa todos los contenedores de la version de telefono*/
	.phone{
		display: block;
	}
	/*Desactiva todos los contenedores de la version de escritorio*/
	.desktop{
		display: none !important;
	}
	/*Contenedor de productos*/
	.catalogo__div{
		height: 550px;
	}
	/*Titulo de productos*/
	.catalogo__div__nombre {
		font-size: 40px;
	}
	/*Precio del producto*/
	.catalogo__div__precio {
		font-size: 60px;
	}
	/*Precio viejo del producto*/
	.descuento__precioViejo {
		font-size: 25px;
	}
	/*Porcentaje de descuento*/
	.descuento__porcentaje {
		font-size: 28px;
	}
    
	/*Filtros*/
	/*Desactiva los filtros de la version de computadora*/
	.catalogo__indice{
		display: none;
	}
	/*Contenedor del catalogo con los filtros y productos*/
	#contenedorCatalogo{
		flex-direction: column;
		align-items: center;
		font-size: 40px;
	}
	/*Contenedor de filtros*/
	#div-contenedorFiltros__div-filtros{
		display: flex;
		flex-direction: row;
		align-items: center;
		width: min-content;
		margin: 10px;
		height: 100px;
	}
	/*Titulo de los contenedores de los botones de filtro*/
	.tituloIndice{
		margin: 10px;
		font-size: 45px;
	}
	/*Contenedores de los botones de filtro*/
	.contenedorFiltro{
		width: 100%;
	}
	/*Botones de los filtros*/
	.filtroBoton{
		margin: 15px;
        padding: 15px;
		border-radius: 45px;
	}
	.filtroBoton:hover{
		background-color: initial;
		box-shadow: 0;
		color: initial;
	}

	/*Inputs de precios maximo y minimos*/
	.casillaPrecio{
		font-size: 55px;
        padding: 15px;
        padding-left: 26px;
        width: 360px;
        margin-right: 25px;
        border-radius: 20px;
	}
	/*Boton enviar de inputs de precios maximos y minimos*/
	.formularioMinMax__flechaIr{
		height: 100px;
		width: 100px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 75%;
		border-radius: 30px;
	}
	/*Contenedor de filtros de ordenar*/
	.div-contenedorFiltros__div-ordenar{
		position: initial;
		transform: none;
		font-size: inherit;
	}
	/*Icono de filtros de ordenar*/
	.div-contenedorFiltros__div-icono{
		height: 100px;
		width: 100px;
		background-size: 75%;
	}
	/*Cuando se apreta en el boton de filtros activa la barra deslizadora*/
	.div-contenedorFiltros__div-ordenar:hover>.div-ordenar__li-opciones{
		display: flex;
		transform: translate(-50px, 170px);
	}

	/*Productos*/
	
	/*Cartel de advertencia cuando no hay productos para mostrar*/
	#mensajeSinProductos{
		font-size: 50px;
		flex-direction: column;
	}
	#mensajeSinProductos__logo{
		height: 200px;
		width: 200px;
	}
	#mensajeSinProductos__mensaje{
		width: 400px;
	}

	/*Aumenta el tamaño de los productos*/
	.catalogo__div__imagen {
		width: 440px;
		height: 440px;
	}

	/*Contenedor de botones de filtros*/
	#catalogoResponsive__div-contenedorFiltros{
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}


	/*Barra lateral de filtrado de productos*/
	#ventanaLateral-Filtros{
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		position: fixed;
		background-color: var(--fondo);
		min-width: 100vw;
		min-height: 100vh;
		transition: transform 0.25s;
		transform: translate(-100%,-23vw);
		z-index: 1500;
	}

	/*Los deslizadores se activan cuando se hacen click en sus respectivos botones*/
	.ventanaLateral-Filtros-active{
		transform: translate(0,-23vw) !important;
	}

	/*Boton volver*/
	#ventanaLateral-Filtros__div-volver{
		width: 90px;
		height: 90px;
		position: absolute;
		align-self: start;
		justify-self: start;
		margin: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: var(--fondo);
		border-color: var(--azul-logo);
		background-image: url(../img/icons/volver.png);
		background-size: 60%;
	}

	/*Titulo de la seccion*/
	#ventanaLateral-Filtros__div-titulo{
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
        font-size: 50px;
	}

	/*Secciones del deslizador*/
	#ventanaLateral-Filtros__div-filtros{
		display: flex;
		flex-direction: column;
		position: relative;
		margin-top: 15px;
	}


	/*Opciones de la seccion de opciones*/
	.div-filtros__div-filtro{
		border: solid gray 1px;
		border-right: 0px;
		border-left: 0px;
		padding: 25px;
		font-size: 70px;
		padding: 50px;
		transition: background 0.5s ease;
		color: black;
	}


}