/*Clases generales*/
.botonPositivo{
    background-color: var(--colorBotones-positivo) !important;
}
.botonNegativo{
    background-color: var(--colorBotones-negativo) !important;
}



/*Contenedor general de la configuracion de productos, contiene los indices de categorias, indice y productos*/
#contenedorConfiguracionProductos__contenido{
    display: flex;
    height: 85vh;
    width: 1290px;
    background-color: var(--colorFondoVentana);
    position: absolute;
    z-index: 60;
    margin: 0px calc((100vw - 1290px) / 2);
    margin-top: 0;
    transform: translateY(78px);
    overflow: auto;
    padding: 10px;
    border-radius: 10px;
    border: solid black 2px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start
}


/*Contenedor de botones de filtro categorias*/
#contenedorConfiguracionProductos__contenido__categorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: start;
    min-height: 70px;
}




/*Indice del contenedor de productos y productos individuales*/
.tipo__categoria__producto,.productos__div{
    display: grid;
    grid-template-columns: 740px 230px 70px 90px;
    margin: 1px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: var(--colorVentana);
    align-items: center;
    font-size: 25px;
    padding-left: 12px;
    min-height: 52px;
    max-height: 52px;
    margin: 0 calc((1290px - 1180px) / 2);
}
.productos__div:hover{
    filter: brightness(1.05);
    cursor: pointer;
}


/*Contenedor de productos*/
#contenedorConfiguracionProductos__contenido__productos{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/*Producto*/
.productos__div{
    background-color: var(--colorBotones);
}
/*Nombre del producto*/
.preducto__div__nombre{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*Opciones de producto, contenedor general*/
.producto__div__opciones{
    display:flex;
    flex-wrap: nowrap;
}

/*Mensaje cuando no hay productos para mostrar*/
#mensajeSinProductos{
    display: flex;
    font-size: 50px;
    flex-direction: column;
    width: 100%;
    padding: 10% 30%;
    align-items: center;
    text-align: center;
}


