/*Contenedor general de la ventana de modificar variantes*/
#variantesProducto{
    display: flex;
    background-color: var(--colorFondoVentana);
    padding: 30px;
    height: min-content;
    width: min-content;
    flex-direction: column;
    align-items: center;
}

/*Indice para las variantes del producto*/
#variantesProducto__indice,#variantesProducto__variantes{ 
    margin: 1px 55px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: var(--colorVentana);
    align-items: center;
    font-size: 25px;
    padding-left: 12px;
    min-height: 52px;
    min-width: 614px;
}

/*Contenedor de vantiantes*/
.variantesProducto__variantes__div,#variantesProducto__indice{
    display: grid;
    grid-template-columns: 300px 100px 100px 100px;
    align-items: center;
}

/*Variantes del producto*/
.variantesProducto__input{
    font-size: 1vw;
    padding: 6px;
    width: 90%;
    background-color: var(--colorVentana);
    border: solid black 1px;
    border-radius: 0.5vw;
    color: var(--colorLetra);
}

/*Mensaje de advertencia al no haber variantes para mostrar*/
#mensajeSinVariantes {
    display: flex;
    height: 52px;
    justify-content: center;
    align-items: center;
    color: var(--colorLetraTenue);
}
