
<link rel="stylesheet" type="text/css" href="../../css/header.css">
<link rel="stylesheet" type="text/css" href="../../css/mensajeEmergente.css">
<link rel="stylesheet" type="text/css" href="../../css/normalize.css">

<div class="header-responsive phone">
    <div id='header-responsive__div-menu' class="phone header-responsive__botones fa-solid fa-bars"></div>
    <div id='div-menu__div-ventana'>
        <div id='div-menu__div-volver' class="fa-solid fa-arrow-right"></div>   
        <div id='div-menu__div-titulo'>Menu</div>   
        <ul id='div-menu__ul-opciones'>
            <a class='div-menu__ul-opciones__li' href="/carrito">Carrito</a>
            <a class='div-menu__ul-opciones__li' href="/catalogo">Catalogo</a>
            <li class='div-menu__ul-opciones__li'>FAQ</li>
            <li class='div-menu__ul-opciones__li'>Contacto</li>
        </ul>
    </div>


    <a href="/index" id="header-responsive__a-logo" class=" header-responsive__botones"></a>

    <a href="/inicioSesion" id='header-responsive__a-iniciarSesion' class="phone header-responsive__botones fa-solid fa-right-to-bracket"></a>
    <div id='header-responsive__div-cuenta' class="noActive header-responsive__botones fa-regular fa-user"></div>
    <div id='div-cuenta__div-ventana'>
            <div id='div-ventana__div-volver' class="fa-solid fa-arrow-right"></div>
            <div id='div-ventana__div-titulo'>Mi cuenta</div>
            <div id='div-ventana__div-informacion'>
                <div id='div-informacion__div-nombreFoto' class="div-informacion__info">
                    <div id='div-nombre__div-foto'></div>
                    <div id='div-nombre__div-nombre'></div>
                    <div id='div-informacion__div-correo' class="div-informacion__info"></div>
                </div>
                <div id='div-informacion__div-ID' class="div-informacion__info">ID:</div>
            </div>
            <ul id='div-ventana__ul-opciones'>
                <a class="ul-opciones__botones" href="/miPerfil" >Perfil</a>
                <li class="ul-opciones__botones">Historial de compras</li>
                <a class="ul-opciones__botones" href="/listaDeseados" >Lista de deseados</a>
                <li id="ul-opciones__li-cerrarSesion" class="ul-opciones__botones">Cerrar sesion</li>
            </ul>
        </div>

    <form id="header-responsive__form-barraBusqueda" class="phone header-responsive__botones">
        <input type="text" id="header-responsive__form-barraBusqueda__input" placeholder="Busca un producto">
        <button type="submit" id="header-responsive__form-barraBusqueda__button" class="fa-solid fa-magnifying-glass"></button>
    </form>
</div>


<div class="header desktop">
    <a href="/index" class="header__a-logo desktop"></a>

    <form id="header__form-barraBusqueda" class="desktop">
        <input type="text" id="header__form-barraBusqueda__input" placeholder="Busca un producto">
    </form>

    <a class="header__botones desktop" href="/catalogo">Catalogo</a>
    <a class="header__botones desktop" href="/pedidos">Mis pedidos</a>
    <a class="header__botones desktop" href="/carrito">Carrito</a>
    <a id='botonIniciarSesion' class="header__botones desktop" href="/inicioSesion">Iniciar sesion</a>
    <div id='botonUsuario' class="header__botones noActive desktop">Cuenta 
        <li id="botonUsuario__li" class="botonUsuario__li__ul">
            <ul class="botonUsuario__li__ul">
                <a class="botonUsuario__li__a" href="/miPerfil">Mi cuenta</a>
                <i class="botonUsuario__li__i fa-solid fa-user"></i>
            </ul>
            <ul class="botonUsuario__li__ul">
                <a class="botonUsuario__li__a" href="/listaDeseados">Deseados</a>
                <i class="botonUsuario__li__i fas fa-heart"></i>
            </ul>
            <ul class="botonUsuario__li__ul">
                <a class="botonUsuario__li__a" href="/contacto">Contacto</a>
                <i class="botonUsuario__li__i fa-brands fa-whatsapp"></i>
            </ul>
            <ul class="botonUsuario__li__ul">
                <a class="botonUsuario__li__a" id="botonUsuario__li__ul-salir">Salir</a>
                <i class="botonUsuario__li__i fa-solid fa-arrow-right-from-bracket"></i>
            </ul>

        </li>
    </div>
</div>

{{>  mensajeEmergente }}


<script type="module" src="../../js/global.js"></script>
<script type="module" src="../../js/header.js"></script>
<script type="module" src="../../js/helpers/mostrarMensaje.js"></script>