
<div class="header-resposive__div">
    <button class="header-resposive__div__buttom-menu"></button>
    <a href="/index">
        <img src="../img/logo.ico"  class="grid__div-logo__img">
    </a>
    <button class="header-resposive__div__buttom-carrito"></button>
    <form class="header-resposive__div__form-busqueda">
        <input type="text" name="busqueda" class="header-resposive__div__form-busqueda__input" placeholder="Busca un producto"></form>
        <button class="header-resposive__div__buttom-summit" type="summit"></button>
        <ul class="header-responsive-menu-active__ul">
            <div></div>
            <a class="header-responsive-menu-active__ul__a" href="contacto">- Contacto</a>
            <a class="header-responsive-menu-active__ul__a" href="catalogo">- Catalogo</a>
            <a class="header-responsive-menu-active__ul__a" href="pedidos">- Mis pedidos</a>
            <a class="header-responsive-menu-active__ul__a" href="carrito">- Carrito</a>
        </ul>
</div>

<div class="grid">
    <div class="grid__div-logo">
        <a href="index">
            <img src="../img/indexImagenes/logo_extendido.png"  class="grid__div-logo__img">
        </a>
    </div>
    <div class="grid__div-busqueda">
        <form class="grid__form-busqueda">
            <input type="text" name="busqueda" class="grid__form-busqueda__input" placeholder="Busca un producto">
        </form>
    </div>
    <div>
        <div class="grid__header__div-contacto">
            <a class="grid__header-a" href="contacto">Contacto</a>
        </div>
    </div>
    <div>
        <div class="grid__header__div-catalogo">
            <a class="grid__header-a" href="catalogo">Catalogo</a>
        </div>
    </div>
    <div>
        <div class="grid__header__div-pedidos">
            <a class="grid__header-a" href="pedidos">Mis pedidos</a>
        </div>
    </div>
    <div>
        <div class="grid__header__div-carrito">
            <a class="grid__header-a" href="carrito">Carrito</a>
        </div>
    </div>
</div>
