
<link rel="stylesheet" type="text/css" href="../../css/header.css">
<link rel="stylesheet" type="text/css" href="../../css/normalize.css">

<div class="header-responsive phone">
    <div id='header-responsive__div-menu' class="phone header-responsive__botones"></div>

    <a href="index" id="header-responsive__a-logo" class=" header-responsive__botones"></a>

    <a href="inicioSesion" id='header-responsive__a-iniciarSesion' class="phone header-responsive__botones"></a>
    <div id='header-responsive__div-cuenta' class="noActive header-responsive__botones">
        <div id='div-cuenta__div-ventana' class="hola">
            <div id='div-ventana__div-volver'></div>
            <div id='div-ventana__div-informacion'>
                <div id='div-informacion__div-nombreFoto' class="div-informacion__info">
                    <div id='div-nombre__div-foto'>DI</div>
                    <div id='div-nombre__div-nombre'>Diego Iocco</div>
                    <div id='div-informacion__div-correo' class="div-informacion__info">diegoiocco13@gmail.com</div>
                </div>
                <div id='div-informacion__div-ID' class="div-informacion__info">ID: 66f2be63e78582f5c0f26252</div>
            </div>
            <ul id='div-ventana__ul-opciones'>
                <li class="ul-opciones__botones">Perfil</li>
                <li class="ul-opciones__botones">Historial de compras</li>
                <li class="ul-opciones__botones">Lista de deseados</li>
                <li class="ul-opciones__botones">FAQ</li>
                <li class="ul-opciones__botones">Contacto</li>
                <li id="ul-opciones__li-cerrarSesion" class="ul-opciones__botones">Cerrar sesion</li>
            </ul>
        </div>
    </div>

    <form id="header-responsive__form-barraBusqueda" class="phone header-responsive__botones">
        <input type="text" id="header-responsive__form-barraBusqueda__input" placeholder="Busca un producto">
        <button type="submin" id="header-responsive__form-barraBusqueda__button" placeholder="Busca un producto"></button>
    </form>
</div>


<div class="header desktop">
    <a href="index" class="header__a-logo desktop">
        <img src="../img/indexImagenes/logo_extendido.png"  class="header__a-logo__img">
    </a>

    <form id="header__form-barraBusqueda" class="desktop">
        <input type="text" id="header__form-barraBusqueda__input" placeholder="Busca un producto">
    </form>

    <a class="header__botones desktop" href="catalogo">Catalogo</a>
    <a class="header__botones desktop" href="pedidos">Mis pedidos</a>
    <a class="header__botones desktop" href="carrito">Carrito</a>
    <a id='botonIniciarSesion' class="header__botones desktop" href="inicioSesion">Iniciar sesion</a>
    <div id='botonUsuario' class="header__botones noActive desktop">Cuenta 
        <li id="botonUsuario__lista">
            <a id="botonUsuario__lista__perfil" class="botonUsuario__lista__a" href="miPerfil">Mi cuenta</a>
            <a id="botonUsuario__lista__contactos" class="botonUsuario__lista__a">Contacto</a>
            <a id="botonUsuario__lista__salir" class="botonUsuario__lista__a">Salir</a>
        </li>
    </div>
</div>


<script src="../../js/catalogo/header.js"></script>