
<link rel="stylesheet" type="text/css" href="../css/styles.css">

<div class="header-resposive__div">
    <button class="header-resposive__div__buttom-menu"></button>
    <a href="/index">
        <img src="../img/logo.ico"  class="grid__div-logo__img">
    </a>
    <a class="header-resposive__div__buttom-inicioSesion" href="inicioSesion"></a>
    <form class="header-resposive__div__form-busqueda">
        <input type="text" name="busqueda" class="header-resposive__div__form-busqueda__input" placeholder="Busca un producto"></form>
        <button class="header-resposive__div__buttom-summit" type="summit"></button>
</div>

<div class="contenedorHeader">
    <div class="grid__div-logo">
        <a href="index">
            <img src="../img/indexImagenes/logo_extendido.png"  class="grid__div-logo__img">
        </a>
    </div>
    <div class="grid__div-busqueda">
        <form class="grid__form-busqueda">
            <input type="text" name="busqueda" class="grid__form-busqueda__input" placeholder="Busca un producto">
        </form>
    </div>

    <a class="header__botones" href="catalogo">Catalogo</a>
    <a class="header__botones" href="pedidos">Mis pedidos</a>
    <a class="header__botones" href="carrito">Carrito</a>
    <a id='botonIniciarSesion' class="header__botones" href="inicioSesion">Iniciar sesion</a>
    <div id='botonUsuario' class="header__botones header__botones-noActive">Cuenta 
        <li id="botonUsuario__lista">
            <a id="botonUsuario__lista__perfil" class="botonUsuario__lista__a" href="miPerfil">Mi perfil</a>
            <a id="botonUsuario__lista__contactos" class="botonUsuario__lista__a">Contacto</a>
            <a id="botonUsuario__lista__salir" class="botonUsuario__lista__a">Salir</a>
        </li>
    </div>
</div>


<script src="../../js/catalogo/header.js"></script>