<div id="contenedorMensajeUsuario">
    <div id="mensajeUsuario">
        <i id="mensajeUsuario__i" class="fa-solid fa-check"></i>
        <i id="mensajeUsuario__i-error" class="fa-solid fa-xmark noActivo"></i>
        <p id="mensajeUsuario__p"></p>
    </div>
</div>